body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

a {
    color: white;
}

#image-view {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#actions {
    opacity: 0.5;
}
#actions:hover {
    opacity: 1;
}
